<div class="container">
<div class="row">
<!-- <h1>hola</h1> 
<p>{{grupo}}
</p>
<div>El doble de 3 es {{duplicarN(3)}}</div>

<div>
  <b>Matricula:</b>{{alumnos.matricula}}
</div>
<div>
  <b>Nombre:</b>{{alumnos.nombre | lowercase}}
</div>
<div>
  <b>Fecha:</b> {{alumnos.fechaNacimiento |date:'dd-MM-yyyy'}}
</div>
<div>
  <b>Pago:</b>{{alumnos.pago | currency}}
</div>
</div>
<hr>
<app-grupo></app-grupo>
<hr>
<app-ievn></app-ievn>
<hr> 
<app-iric></app-iric>-->
<app-suma></app-suma>
<hr>
<app-operas-bas></app-operas-bas>
</div>
</div>